html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

div#equipe{
    width: 250px;
    position: relative;
    top: 10.5rem;
    right: 7rem;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px black;
}

div#equipe > img {
    width: 250px;
    border-radius: 20px;
}

div#equipe > p {
    font-weight: bolder;
    padding: 1rem;
    margin-top: 1rem;
}

div#empresa{
    width: 250px;
    height: auto;
    position: relative;
    top: 10.5rem;
    right: 24rem;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px black;
}

div#empresa > img {
    width: 250px;
    height: 230px;
    border-radius: 20px;
}

div#empresa > p {
    font-weight: bolder;
    padding: 1rem;
}

div#missao{
    width: 400px;
    position: relative;
    top: 9.9rem;
    right: 4rem;

}

div#missao > img {
    width: 750px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;
}


div#missao > h2{
    background-color: rgba(253, 253, 253, 0.67);
    margin-top: 10px;
    color: rgba(23, 53, 59, 1);
    border-radius: 10px;
    width: 420px;
    position: relative;
    text-align: center;
    bottom: 12rem;
    left: 10rem;
}

div#texto-missao{
    width: 750px;
    height: 320px;
    text-align: center;
    position: relative;
    top: 30rem;
    right: 27.5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 5px black;

}

div#texto-missao > p{
    font-weight: bold;
    padding: 0 10px;
    margin-top: 1.5rem;
    width: 700px;
}

footer {
    width: 100%;
    position: relative;
    top: 24rem;
}

@media screen and (min-width:300px) and (max-width: 575.99px){
    html, body {
        height: 100%;
        width: 400px;
        box-sizing: border-box;
        margin-right: -20rem;
    }
    div.container{
        display: flex;
        flex-wrap: no-wrap;
    }

    div.container > div#equipe, div#empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div#equipe{
        width: 200px;
        position: relative;
        margin: auto;
        top: 64rem;
        left: 4.2rem;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#equipe > img {
        width: 200px;
        border-radius: 20px;
    }
    div#empresa{
        width: 200px;
        height: auto;
        position: relative;
        top: 64rem;
        right: 38rem;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#empresa > img {
        width: 200px;
        height: 180px;
        border-radius: 20px;
    }

    div#missao{
        width: 300px;
        position: relative;
        top: 9.9rem;
    }
    div#texto-missao{
        width: 400px;
        height: auto;
        text-align: center;
        position: relative;
        top: 23rem;
        right: 25rem;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px 5px black;
    
    }
    div#texto-missao > p{
        font-weight: bold;
        padding: 0 10px;
        font-size: 18px;
        margin-top: 1.5rem;
        width: 400px;
    }
    div#missao > h2{
        background-color: rgba(253, 253, 253, 0.67);
        margin-top: 10px;
        color: rgba(23, 53, 59, 1);
        border-radius: 10px;
        width: 300px;
        position: relative;
        text-align: center;
        bottom: 12rem;
        left: 1rem;
    }
    div#missao > img {
        width: 350px;
        height: 200px;
        position: relative;
        right: 1rem;
        bottom: 1rem;
        border-radius: 5px;
        box-shadow: 4px 4px 4px black;
    }
  
    span{
        width: 600px;

    }
    footer { 
        width: 600px;
        position: relative;
        top: 71rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    html, body {
        height: 100%;
        width: 400px;
        box-sizing: border-box;
        margin-right: -20rem;
    }
    div.container{
        display: flex;
        flex-wrap: no-wrap;
    }

    div.container > div#equipe, div#empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div#equipe{
        width: 200px;
        position: relative;
        margin: auto;
        top: 64rem;
        left: 4.2rem;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#equipe > img {
        width: 200px;
        border-radius: 20px;
    }
    div#empresa{
        width: 200px;
        height: auto;
        position: relative;
        top: 64rem;
        right: 38rem;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#empresa > img {
        width: 200px;
        height: 180px;
        border-radius: 20px;
    }

    div#missao{
        width: 300px;
        position: relative;
        top: 9.9rem;
    }
    div#texto-missao{
        width: 400px;
        height: auto;
        text-align: center;
        position: relative;
        top: 23rem;
        right: 25rem;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px 5px black;
    
    }
    div#texto-missao > p{
        font-weight: bold;
        padding: 0 10px;
        font-size: 18px;
        margin-top: 1.5rem;
        width: 400px;
    }
    div#missao > h2{
        background-color: rgba(253, 253, 253, 0.67);
        margin-top: 10px;
        color: rgba(23, 53, 59, 1);
        border-radius: 10px;
        width: 300px;
        position: relative;
        text-align: center;
        bottom: 12rem;
        left: 1rem;
    }
    div#missao > img {
        width: 350px;
        height: 200px;
        position: relative;
        right: 1rem;
        bottom: 1rem;
        border-radius: 5px;
        box-shadow: 4px 4px 4px black;
    }
  
    span{
        width: 670px;

    }
    footer { 
        width: 670px;
        position: relative;
        top: 71rem;
    }
}

@media (min-width: 768px) and (max-width: 839.98px){
    html, body {
        height: 100%;
        width: 400px;
        box-sizing: border-box;
        margin-right: -20rem;
    }
    div.container{
        display: flex;
        flex-wrap: no-wrap;
    }

    div.container > div#equipe, div#empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div#equipe{
        width: 300px;
        position: relative;
        margin: auto;
        top: 60rem;
        left: 4.2rem;
        font-size: 18px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#equipe > img {
        width: 300px;
        border-radius: 20px;
    }
    div#empresa{
        width: 300px;
        height: auto;
        position: relative;
        top: 60rem;
        right: 42rem;
        font-size: 18px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#empresa > img {
        width: 300px;
        height: 240px;
        border-radius: 20px;
    }

    div#missao{
        width: 300px;
        position: relative;
        top: 9.9rem;
    }
    div#texto-missao{
        width: 500px;
        height: auto;
        text-align: center;
        position: relative;
        top: 23rem;
        right: 28.1rem;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px 5px black;
    
    }
    div#texto-missao > p{
        font-weight: bold;
        padding: 0 10px;
        font-size: 20px;
        margin-top: 1.5rem;
        width: 500px;
    }
    div#missao > h2{
        background-color: rgba(253, 253, 253, 0.67);
        margin-top: 10px;
        color: rgba(23, 53, 59, 1);
        border-radius: 10px;
        width: 300px;
        position: relative;
        text-align: center;
        bottom: 12rem;
        left: 1rem;
    }
    div#missao > img {
        width: 500px;
        height: 200px;
        position: relative;
        right: 6rem;
        bottom: 1rem;
        border-radius: 5px;
        box-shadow: 4px 4px 4px black;
    }
  
    span{
        width: 780px;

    }
    footer { 
        width: 780px;
        position: relative;
        top: 71rem;
    }
}

@media (min-width: 840px) and (max-width: 1199.98px){
    html, body {
        height: 100%;
        width: 400px;
        box-sizing: border-box;
        margin-right: -20rem;
    }
    div.container{
        display: flex;
        flex-wrap: no-wrap;
    }

    div.container > div#equipe, div#empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div#equipe{
        width: 300px;
        position: relative;
        margin: auto;
        top: 63rem;
        left: 4.2rem;
        font-size: 18px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#equipe > img {
        width: 300px;
        border-radius: 20px;
    }
    div#empresa{
        width: 300px;
        height: auto;
        position: relative;
        top: 63rem;
        right: 44rem;
        font-size: 18px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px black;
    }
    div#empresa > img {
        width: 300px;
        height: 240px;
        border-radius: 20px;
    }

    div#missao{
        width: 300px;
        position: relative;
        top: 9.9rem;
    }
    div#texto-missao{
        width: 600px;
        height: auto;
        text-align: center;
        position: relative;
        top: 23rem;
        right: 28.1rem;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 4px 5px black;
    
    }
    div#texto-missao > p{
        font-weight: bold;
        padding: 0 10px;
        font-size: 23px;
        margin-top: 1.5rem;
        width: 600px;
    }
    div#missao > h2{
        background-color: rgba(253, 253, 253, 0.67);
        margin-top: 10px;
        color: rgba(23, 53, 59, 1);
        border-radius: 10px;
        width: 300px;
        position: relative;
        text-align: center;
        bottom: 12rem;
        left: 3rem;
    }
    div#missao > img {
        width: 600px;
        height: 200px;
        position: relative;
        right: 6rem;
        bottom: 1rem;
        border-radius: 5px;
        box-shadow: 4px 4px 4px black;
    }
  
    span{
        width: 1195px;

    }
    footer { 
        width: 1195px;
        position: relative;
        top: 71rem;
    }
}

